
body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}
.headshot {
  width: 200px;
  height: 200px;
}
.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.candidate {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.candidate:hover {
  background-color: #efe;
}

.candidate img {
  float: left;
  margin: 0 5px;
}

.candidate .delegates {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.candidate .delegates .count {
  font-size: 70px;
  font-weight: 600;
}

.candidate .name {
  font-weight: 600;
}

.candidate .original {
  color: #aaa;
  font-size: 12px;
}

.candidate .info {
  margin-left: 55px;
}
