<div id='container'>
  <!-- Your html here -->
  <!-- automatically call getlinks? -->
  <div ng-app="PEA.candidates" ng-controller="CliCanController">
    <form name="candidateFilter">
      <input type='text'ng-model='filteredName'>
    </form>
    <div ng-repeat="candidate in candidates | orderBy: '-delegateCount' | filter:filteredName">
      <div class='candidate'>
        <div class ='{{candidate.party}}'>
          <img class='headshot'src='{{candidate.image}}'/>
          <span class='name'>{{candidate.fullName}}</span>
          <div class='delegates'><span class='count'>{{candidate.delegateCount}}</span>  Delegates</div>
          <span class= 'money'><span class 'cash'> {{candidate.money}} </span>   Dollars</span>
          <a href='{{candidate.url}}'><span class= 'website'>WeBsite!</span></a>
          <a href='{{candidate.twitter}}'><span class='twitter'>Twitter feed</span></a>
            <div class= 'pollinfo'>
              <span>POLL INFO</span>
                <div ng-repeat="poll in candidate.polls">
                  <span>{{poll.name}} : {{poll.score}} PERCENT</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div ng-repeat="poll in polls">
      <div class='poll'>
        <span>{{poll.party}}</span>
        <span>{{poll.pollster}}</span>
        <span>{{poll.ques}}</span>
        <!-- <span>{{poll.endDate}}</span> -->
        <span>{{poll.numResponses}}</span>
          <div ng-repeat="result in poll.results">
            <span>{{result.choice}} : {{result.val}}</span>
          </div>
      </div>
    </div>


    <!-- <div class="link" ng-repeat="link in links track by $index"> <a href= "{{link.url}}"> {{link.url}} : {{link.code}} {{link.visits}} </div>
  </div> -->
</div>
</div>
<!--
<script id='link' type='text/x-handlebars-template'>

</script> -->
